header {
	text-align: right;
	margin-top: 20px;
	margin-bottom: 200px;
}

header a {
	padding: 10px;
	color: #000;
}

.sign-in {
	height: 20px;
	width: 50px;
	color: #fff;
	bg color: #000;
}

#main {
	width: 500px ;
	margin: 0 auto ;
	text-align: center;

}

#main input {
	width: 500px;
	margin: 20px;
}